#epiceditor             { min-height: 500px; }
#toolbar                { margin: 10px 0; padding: 10px 0; border-bottom: 1px solid #ccc; }

[data-command]          { width: 25px; height: 25px; text-align: center; }
[data-command="bold"]   { font-weight: bold; }
[data-command="italic"] { font-style: italic; }
[data-command="code"]   { }
